<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- BD Schema -->
    <property name="connection.url">jdbc:postgresql://localhost/users</property>
    <!-- DB Driver -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <!-- DB User -->
    <property name="connection.username">test</property>
    <!-- DB Password -->
    <property name="connection.password">test</property>
    <!-- DB Dialect -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  </session-factory>
</hibernate-configuration>